<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @better_entry.user_id %>
</p>

<p>
  <b>Word:</b>
  <%= @better_entry.word %>
</p>

<p>
  <b>Definition:</b>
  <%= @better_entry.definition %>
</p>


<%= link_to 'Edit', edit_better_entry_path(@better_entry) %> |
<%= link_to 'Back', better_entries_path %>
