<p id="notice"><%= notice %></p>

<p>
  <b>Word:</b>
  <%= @entry.word %>
</p>

<p>
  <b>Definition:</b>
  <%= @entry.definition %>
</p>


<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
