<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @dictionary_entry.user_id %>
</p>

<p>
  <b>Word:</b>
  <%= @dictionary_entry.word %>
</p>

<p>
  <b>Definition:</b>
  <%= @dictionary_entry.definition %>
</p>


<%= link_to 'Edit', edit_dictionary_entry_path(@dictionary_entry) %> |
<%= link_to 'Back', dictionary_entries_path %>
